<div class="row h-100">
    <div class="col-md d-none d-md-flex"></div>
    <div id="about-me-content" class="col-xs-12 col-md-8">
        <p class="title">Summary</p>
        <p>I have been coding since I was a teenager and have three years of experience as a software development manager.</p>
        <p>While I am a proficient software developer, I consider myself a champion of everything that surrounds writing the code itself. If you need someone to design your users' experience, write the user guide, prioritize your roadmap, train other developers, mentor and coach less-experienced team members, or inspire your employees, I'm your man!</p>
        <p class="title">Education</p>
        <div>B.S. Computer Science - Mathematics minor</div>
        <div class="mb-3"><small class="font-weight-light">Brigham Young University - Dec 2014</small></div>
        <p class="title">Contact</p>
        <div class="social-icons d-flex flex-column align-items-start mb-3">
            <div class="d-flex justify-content-center align-items-center"><a target="_blank" href="https://www.linkedin.com/in/jeffpowell-dev/"><i class="mdi mdi-linkedin"></i></a><span class="ml-3"><a target="_blank" href="https://www.linkedin.com/in/jeffpowell-dev/">https://www.linkedin.com/in/jeffpowell-dev/</a></span></div>
            <div class="d-flex justify-content-center align-items-center"><a target="_blank" href="mailto:jeffr.powell@outlook.com"><i class="mdi mdi-email-outline"></i></a><span class="ml-3"><a target="_blank" href="mailto:jeffr.powell@outlook.com">jeffr.powell@outlook.com</a></span></div>
        </div>
        <p class="title">Personality and Work Style</p>
        <ul class="list-unstyled">
            <li><strong>Wiley DiSC</strong>: <a href="/assets/JeffPowell_DiSC.pdf" target="_blank">Conscientiousness-Steadiness, "CS"</a></li>
            <li><strong>RHETI Enneagram</strong>: <a href="/assets/JeffPowell_RHETI.pdf" target="_blank">Type 9, "The Peacemaker"</a></li>
            <li><strong>16 Personalities</strong>: <a href="https://www.16personalities.com/profiles/c79a25c3af363" target="_blank">ISTJ-A "Assertive Logistician"</a></li>
            <li><strong>CliftonStrengths</strong>: <a href="/assets/JeffPowell_CliftonStrengths.pdf" target="_blank">Strategic | Maximizer | Learner | Intellection | Analytical</a></li>
            <li><strong>Strengths Profile</strong>: <a href="/assets/JeffPowell_StrengthsProfile.pdf" target="_blank">Detail | Writer | Explainer | Adaptable | Organiser</a></li>
            <li><strong>Social Styles</strong>: <a href="/assets/JeffPowell_SocialStyles.pdf" target="_blank">Driving</a></li>
        </ul>
        <p class="title">Miscellaneous Hobbies</p>
        <p>{{hobbies | listRandom | sentenceCase}}</p>
    </div>
    <div class="col-md d-none d-md-flex"></div>
</div>