<div class="row h-100">
    <div class="col"></div>
    <div id="about-me-content" class="col-xs-12 col-md-8">
        <p class="title text-center">Summary</p>
        <p>While I am a proficient software developer, I consider myself a champion of everything that surrounds writing the code itself. If you need someone to design your users' experience, write the user guide, prioritize your roadmap, train other developers, mentor and coach less-experienced team members, or inspire your employees, I'm your man!</p>
        <p class="title text-center">Education</p>
        <p>B.S. Computer Science - Mathematics minor<br>
           <small class="font-weight-light">Brigham Young University - Dec 2014</small></p>
        <p class="title text-center">Contact</p>
        <p class="social-icons"><a target="_blank" href="https://www.linkedin.com/in/jeffpowell-dev/"><i class="mdi mdi-linkedin"></i></a> https://www.linkedin.com/in/jeffpowell-dev/<br>
            <a target="_blank" href="mailto:jeffr.powell@outlook.com"><i class="mdi mdi-email-outline"></i></a> jeffr.powell@outlook.com</p>
        <p class="title text-center">Miscellaneous Hobbies</p>
        <p>Board games, piano, singing, road biking, panoramic photography, hiking, puzzles, skiing, musicals, woodworking</p>
    </div>
    <div class="col"></div>
</div>