<div class="row h-100 mt-2">
    <div id="bubbleChartContainer" class="col-xs-12 col-md-8">
        <form class="form-inline">
            <label for="typeahead-basic">Looking for a specific tech?</label> 
            <input 
                id="typeahead-basic" 
                type="text" 
                class="form-control ml-2" 
                name="search" 
                placeholder="Search here" 
                [(ngModel)]="searchTerm" 
                [ngbTypeahead]="search" 
                [inputFormatter]="searchResultFormatter" 
                [resultFormatter]="searchResultFormatter"
                (selectItem)="seekTech($event)"/>
        </form>
        <tech-bubble-chart [data]="data" [focusOnValue]="zoomToTerm"></tech-bubble-chart>
    </div>
</div>

