<div class="row">
    <h1>Tangram Calendar for {{targetDateStr}}</h1>
</div>
<div class="row h-100">
    <div class="col-md">
        <h2>Hint</h2>
        <ul class="list-unstyled tangram-list">
            <li class="gridRow" *ngFor="let hintRow of hint" [innerHtml]="hintRow | colorTangram">
            </li>
        </ul>
    </div>
    <div class="col-md">
        <h2>Solution</h2>
        <ul *ngIf="showSolution" class="list-unstyled tangram-list">
            <li class="gridRow" *ngFor="let solutionRow of solution" [innerHtml]="solutionRow | colorTangram">
            </li>
        </ul>
        <button 
            type="button" 
            class="btn btn-primary" 
            *ngIf="!showSolution" 
            (click)="showSolution = true">
                Click to reveal a solution</button>
    </div>
</div>
