li.gridRow {
    margin-bottom: 0;
    line-height: 1.5rem;

    & > pre.tangram {
        margin-bottom: 0;
        font-size: 1.5rem;
        display: inline;

        &.tangram-char-0 {
            background-color: rgb(172, 55, 55);
        }
    
        &.tangram-char-1 {
            background-color: rgb(223, 124, 44);
        }
    
        &.tangram-char-2 {
            background-color: rgb(209, 189, 9);
        }
    
        &.tangram-char-3 {
            background-color: rgb(15, 77, 15);
        }
    
        &.tangram-char-4 {
            background-color: rgb(15, 158, 146);
        }
    
        &.tangram-char-5 {
            background-color: rgb(56, 79, 184);
        }
    
        &.tangram-char-6 {
            background-color: rgb(99, 17, 131);
        }
    
        &.tangram-char-7 {
            background-color: rgb(168, 17, 136);
        }
    
        &.tangram-char-8 {
            background-color: rgb(100, 61, 9);
        }
    
        &.tangram-char-9 {
            background-color: rgb(55, 59, 66);
        }
    }

}