<div class="row mt-3"> 
    <div class="col">
        <h1 class="title">Code Repositories</h1>
    </div>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3"> 
    <repo-card *ngFor="let repo of repos; index as i" [repo]="repo"></repo-card>
</div>
<div class="row mt-4"> 
    <div class="col">
        <h1 class="title">Videos</h1>
    </div>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mb-3"> 
    <video-card *ngFor="let video of videos; index as i" [video]="video"></video-card>
</div>