<div id="mobile-brand" class="d-md-none fixed-top">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/android-chrome-192x192.png">
  </a>
  <div class="text-center d-inline-flex justify-content-center w-100 h-100 align-items-center"><span class="title">{{ currentRouteName }}</span></div>
</div>
<div class="container-fluid h-100 mobile-padding">
  <div class="row h-100">
    <div id="sidebar" class="col-md-3 col-lg-2 d-none d-md-flex flex-column position-relative">
      <div class="navbar-brand w-100 text-center">
        <a routerLink="/">
          <img src="/assets/android-chrome-192x192.png">
        </a>
      </div>
      <hr class="w-100">
      <ul id="nav" class="nav flex-column text-center">
        <li class="nav-item w-100" routerLinkActive="active">
          <a class="nav-link" routerLink="/whois" >About Me</a>
        </li>
        <li class="nav-item w-100" routerLinkActive="active">
          <a class="nav-link" routerLink="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item w-100" routerLinkActive="active">
          <a class="nav-link" routerLink="/tech">Known Tech</a>
        </li>
        <li class="nav-item w-100" routerLinkActive="active">
          <a class="nav-link" routerLink="/tangram">Tangram Calendar</a>
        </li>
      </ul>
      <div id="footer" class="w-100">
        <div class="social-icons d-flex justify-content-around">
          <a target="_blank" href="https://www.linkedin.com/in/jeffpowell-dev/"><i class="mdi mdi-linkedin"></i></a>
          <a target="_blank" href="https://github.com/jeffrpowell"><i class="mdi mdi-github"></i></a>
          <a target="_blank" href="https://discord.gg/aWy5F3ED9Y"><i class="mdi mdi-discord"></i></a>
          <a target="_blank" href="mailto:domain@jeffpowell.dev"><i class="mdi mdi-email-outline"></i></a>
        </div>
        <div class="d-flex flex-column align-items-center">
          <small class="font-weight-light">&copy; {{currentYear}} - Jeff Powell</small>
          <small class="font-weight-light">All Rights Reserved</small>
        </div>
      </div>
    </div>
    <div id="component-wrapper" class="col h-100">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
<ul id="mobile-nav" class="nav d-flex justify-content-around align-items-end d-md-none fixed-bottom text-uppercase">
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link d-flex flex-column align-items-center" routerLink="/whois">
      <i class="mdi mdi-home-outline"></i>
      <span class="mobile-nav-text">About</span>
    </a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link d-flex flex-column align-items-center" routerLink="/portfolio">
      <i class="mdi mdi-book-open-page-variant-outline"></i>
      <span class="mobile-nav-text">Portfolio</span>
    </a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link d-flex flex-column align-items-center" routerLink="/tech">
      <i class="mdi mdi-account-star-outline"></i>
      <span class="mobile-nav-text">Tech</span>
    </a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link d-flex flex-column align-items-center" routerLink="/tangram">
      <i class="mdi mdi-tangram"></i>
      <span class="mobile-nav-text">Tangram</span>
    </a>
  </li>
</ul>