<div class="container-fluid">
  <div class="row d-flex d-md-none">
    <div class="col">
      <ul id="mobile-brand" class="nav">
        <a class="navbar-brand" routerLink="/whois">
          <img src="/assets/jeffpowell.jpg">
        </a>
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="sidebar" class="col-3 d-none d-md-flex">
      <ul id="nav" class="nav flex-column ">
        <a class="navbar-brand" routerLink="/whois">
          <img src="/assets/jeffpowell.jpg">
        </a>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/whois" >About Me</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/tech">Known Tech</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/projects">Projects</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/blog">Blog</a>
        </li>
        <li id="footer" class="nav-item">
          <small>&copy; 2019 - Jeff Powell</small>
        </li>
      </ul>
    </div>
    <div id="component-wrapper" class="col">
      <router-outlet></router-outlet>
    </div>
  </div>

  <ul id="mobile-nav" class="nav nav-fill d-flex d-md-none fixed-bottom">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/whois" ><i class="mdi mdi-home-outline"></i></a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/tech"><i class="mdi mdi-brain"></i></a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/projects"><i class="mdi mdi-hammer"></i></a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/blog"><i class="mdi mdi-file-document-outline"></i></a>
    </li>
  </ul>
</div>