@import "../mixins";
@import "../variables";

@mixin brand-image {
  border-radius: 100%;
  border: 1px solid rgba(0,0,0,0.3);
  /* https://stackoverflow.com/a/19193223 */
  width: auto;
  height: 100%;
}

#mobile-brand {
  @include box-shadow-2;
  height: $mobile-header-content-height;
  padding: $mobile-header-padding-vertical $mobile-header-padding-horizontal;

  .navbar-brand {
      height: $mobile-header-content-height;
      position: absolute;
      left: 10px;

      img {
        @include brand-image;
      }
  }

  .mobile-title {
    font-size: 1.6rem;
    font-weight: lighter;
  }
}

#sidebar {
  background: linear-gradient(#709F4F, 10%, #a5c180, 40%, #a5c180, 75%, #567646, 98%, #567646);
  @include box-shadow-4;
  padding: 12px 0;

  .navbar-brand {
    height: 192px;

    img {
      @include brand-image;
    }
  }

  hr {
      border-top-color: rgba(0,0,0,0.3);
  }

  #nav {
    width: 100%;
    
    .nav-item {
        &.active {
            border-right: 2px solid #385028;

            a {
                color: rgba(0,0,0,.90);
            }
        }
        
        a {
            color: rgba(0,0,0,.60);
    
            &:hover {
                color: rgba(0,0,0,.90);
            }
        }
    }
  }

  #footer {
    position: absolute;
    bottom: 12px;
    border-top: 1px solid rgba(0,0,0,0.3);

    .social-icons {
        font-size: 1.7rem;
        margin-bottom: 6px;

        a {
            color: rgba(0,0,0,.60);
    
            &:hover {
                color: rgba(0,0,0,.90);
            }
        }
    }

    small {
      display: block;
    }
  }
}

#component-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
}

#mobile-nav {
  background: linear-gradient(to right, #709F4F, 10%, #a5c180, 40%, #a5c180, 75%, #709F4F, 98%, #709F4F);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  .nav-item {
    &.active {
      border-top: 3px solid #385028;
  
      a {
          color: rgba(0,0,0,.90);
      }
    }
  
    a {
      color: rgba(0,0,0,.60);

      i {
          font-size: 1.3rem;
          margin-bottom: -8px;
      }

      .mobile-nav-text {
          font-size: 0.8rem;
      }

      &.nav-link {
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
      }
  
      &:hover {
          color: rgba(0,0,0,.90);
      }
    }
  }
}
