@import "../mixins";
@import "../variables";

@mixin brand-image {
  border-radius: 100%;
  border: 1px solid rgba(0,0,0,0.3);
  /* https://stackoverflow.com/a/19193223 */
  width: auto;
  height: 100%;
}

#mobile-brand {
  @include box-shadow-2;
  height: $mobile-header-height;

  .navbar-brand {
      height: $mobile-header-height;
      position: absolute;
      left: 10px;

      img {
        @include brand-image;
      }
  }
}

#sidebar {
  background: linear-gradient($colors-medium, 10%, $colors-light, 40%, $colors-light, 75%, $colors-dark, 98%, $colors-dark);
  @include box-shadow-4;
  padding: 12px 0;

  .navbar-brand {
    height: 172px;

    img {
      @include brand-image;
    }
  }

  hr {
      border-top-color: rgba(0,0,0,0.3);
  }

  #nav {
    width: 100%;
    
    .nav-item {
        &.active {
            border-right: 2px solid $colors-dark-border;

            a {
                color: rgba(0,0,0,.90);
            }
        }
        
        a {
            color: rgba(0,0,0,.60);
    
            &:hover {
                color: rgba(0,0,0,.90);
            }
        }
    }
  }

  #footer {
    position: absolute;
    bottom: 12px;
    border-top: 1px solid rgba(0,0,0,0.3);

    .social-icons {
        font-size: 1.7rem;
        margin-bottom: 6px;

        a {
            color: rgba(0,0,0,.60);
    
            &:hover {
                color: rgba(0,0,0,.90);
            }
        }
    }

    small {
      display: block;
    }
  }
}

#component-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
}

#mobile-nav {
  background: linear-gradient(to right, $colors-medium, 10%, $colors-light, 40%, $colors-light, 75%, $colors-dark, 98%, $colors-dark);
  height: $mobile-nav-height;
  padding-bottom: $mobile-nav-active-height;

  .nav-item {
    &.active {
      border-top: $mobile-nav-active-height solid $colors-dark-border;
  
      a {
          color: rgba(0,0,0,.90);
      }
    }
  
    a {
      color: rgba(0,0,0,.60);

      i {
          font-size: $mobile-nav-icon-height;
          margin-bottom: $mobile-nav-icon-offset;
      }

      .mobile-nav-text {
          font-size: $mobile-nav-font-size;
      }

      &.nav-link {
          padding-top: 0;
          padding-bottom: 0;
      }
  
      &:hover {
          color: rgba(0,0,0,.90);
      }
    }
  }
}
