/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
$mdi-font-path: "@mdi/font/fonts";
@import "@mdi/font/scss/materialdesignicons";
@import "./variables";

html, body {
    height: 100vh;
    color: rgba(0,0,0,.86);
}

a {
    color: #022d8a;

    &:hover {
        color: #002066;
    }
}

.title {
    font-size: 1.6rem;
    font-weight: lighter;
}

@include media-breakpoint-down(sm) {
    .mobile-padding {
        padding-top: $mobile-header-height;
        padding-bottom: $mobile-nav-height;
    }
}
