$mobile-header-content-height: 70px;
$mobile-header-padding-vertical: 3px;
$mobile-header-padding-horizontal: 10px;
$mobile-header-height: $mobile-header-content-height + $mobile-header-padding-vertical + $mobile-header-padding-vertical;

